/* Scroll example 
#container {
    margin: 55vh 0;
    padding: 50px;
    outline: 1px dashed orange;
}

#blk {
    padding: 10px;
    border: 1px solid black;
    font-family: Helvetica;
}*/






html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: #2d2d37;
}





.plax {
      min-height: 100vh;
      background: transparent;
      position: relative;
    }

img{
  filter: grayscale(1);
}

img.color{
  filter: none;
}

/*.parallax-window1{
  filter: grayscale(1);
}*/

.title-main{
  display: flex;
  justify-content: center;
  align-items: middle;
  font-family: 'Odibee Sans';
  display: block;
  text-align: center;
  margin: 0;
  font-size: 14vw;
  color: white;
}

.title-2{
  font-family: 'Pacifico';
  color: lightblue;
  opacity: 90%;
  position: relative;
  margin-top: 0;
  display: block;
  text-align: center;
  font-size: 5vw;
  padding-bottom: 30%
}

.title-right{
  font-size: 10vw;
  font-family: 'Odibee Sans';
  display: block;
  float: right;
  color: white;
  transform: translateY(-50%);
}
.title-left{
  font-size: 10vw;
  font-family: 'Odibee Sans';
  display: block;
  float: left;
  margin: 5%;
  color: white;
  padding-top: 20%;
  transform: translateY(-50%);
}

p{
  font-size: 20px;
  font-family: 'Baloo Chettan 2';
  display: block;
  color:white;
  padding: 10%;
}

.box {
  position: relative;
  height: 400px;
  width: 600px;
  background-color: red;
  opacity: 70%;
}


.box-2{
  position: relative;
  height: 500px;
  width: 600px;
  opacity: 70%;
  background-color: red;
  display: block;
}

.box-3 {
  position: relative;
  height: 500px;
  width: 700px;
  opacity: 70%;
  background-color: red;
  display: block;
}

.gallery{
  font-family: 'Odibee Sans';
  color: darkgrey;
  position: relative;
  padding-left: 13%;
  margin-bottom: 45px;
  font-size: 44px;
  text-transform: uppercase;
}

#scrollMagic{
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#scrollMagic.visible { 
    opacity: 100;
  }

footer{
  background: red;
  height: 50px;
}

.container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px auto;
}
  

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("../images/wheel.png");
  border: 2px solid black;
}

.item-2 {
  background-image: url("../images/bike-1.png");
  border: 2px solid black;
}

.item-3 {
  background-image: url("../images/bike-2.png");
  border: 2px solid black;
}

.item-4 {
  background-image: url("../images/bike-3.png");
  border: 2px solid black;
}

.item-5 {
  background-image: url("../images/bike-4.png");
  border: 2px solid black;
}

.last-paragraph{
  padding-bottom: 5px;
  max-width: 450px;
}

#lastP{
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#lastP.visible { 
    opacity: 100;
  }






@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
#paschka {
  display: block;
  color: white;
  font-size: 32px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  transition: all 0.1s ease;
  background: #000;
  height: 40px;
  line-height: 30px;
  vertical-align: middle;
  width: 40px;
  text-align: center;
  border-radius: 5%;
  bottom: 20px;
  right: 20px;
}
#paschka:hover {
  background: #232323;
  transition: all 0.1s ease;
  color: #f0f0f0;
}
/***************************************************
 * Generated by SVG Artista on 3/11/2020, 2:52:35 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net

 SVG Drawing 
 **************************************************/
 .bike{
  padding-top: 20%;
  padding-left: 20%;
 }

svg .svg-elem-1.visible {
  stroke-dashoffset: 722.0347900390625px;
  stroke-dasharray: 722.0347900390625px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .svg-elem-1.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-2.visible {
  stroke-dashoffset: 722.0322265625px;
  stroke-dasharray: 722.0322265625px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

svg.active .svg-elem-2.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-3.visible {
  stroke-dashoffset: 201.9739990234375px;
  stroke-dasharray: 201.9739990234375px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

svg.active .svg-elem-3.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-4.visible {
  stroke-dashoffset: 517.2732543945312px;
  stroke-dasharray: 517.2732543945312px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
}

svg.active .svg-elem-4.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-5.visible {
  stroke-dashoffset: 23.928316722056756px;
  stroke-dasharray: 23.928316722056756px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}

svg.active .svg-elem-5.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-6.visible {
  stroke-dashoffset: 23.928316722056756px;
  stroke-dasharray: 23.928316722056756px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-6.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-7.visible {
  stroke-dashoffset: 386.4881896972656px;
  stroke-dasharray: 386.4881896972656px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
}

svg.active .svg-elem-7.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-8.visible {
  stroke-dashoffset: 120.04969024658203px;
  stroke-dasharray: 120.04969024658203px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
}

svg.active .svg-elem-8.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-9.visible {
  stroke-dashoffset: 187.58297729492188px;
  stroke-dasharray: 187.58297729492188px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
}

svg.active .svg-elem-9.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-10.visible {
  stroke-dashoffset: 152.72190856933594px;
  stroke-dasharray: 152.72190856933594px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
}

svg.active .svg-elem-10.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-11.visible {
  stroke-dashoffset: 51.14154052734375px;
  stroke-dasharray: 51.14154052734375px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}

svg.active .svg-elem-11.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-12.visible {
  stroke-dashoffset: 2px;
  stroke-dasharray: 2px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s;
}

svg.active .svg-elem-12.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-13.visible {
  stroke-dashoffset: 2px;
  stroke-dasharray: 2px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s;
}

svg.active .svg-elem-13.visible {
  stroke-dashoffset: 0;
}

svg .svg-elem-14.visible {
  stroke-dashoffset: 68.55721282958984px;
  stroke-dasharray: 68.55721282958984px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s;
          transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s;
}

svg.active .svg-elem-14.visible {
  stroke-dashoffset: 0;
}
